 * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #f5f5f5;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
}

#container-wrapper {
  display: flex;
  /* width: 90vw; */
  justify-content: center;
  /* align-items: center; */
}

#logged-user-detail-container {
  /* width: 100%; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* margin-bottom: 20px; */
  /* margin-top: 20px; */
  margin: 10px;
  text-align: center;
}

#like-container, #dislike-container {
  flex: 1;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 10px;
}

#like-container, #dislike-container, ul {
  list-style: none;
}

.main-container {
  min-width: 300px;
  background-color: #ebe3e3;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logo{
  width: 100px;
}

.main-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.main-container ul li {
  width: 300px;  
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.profile-image {
  width: 180px; 
  height: 180px; 
 
   
  min-width: 180px;
  min-height: 180px;
  border-radius: 50%;
  object-fit: none;
  /* margin: 10px 0; */
  cursor: pointer;
}

.profile-image:hover {
  cursor: pointer;
}

.main-container ul li .buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.main-container ul li .buttons button {
  border: 0;
  background: none;
  cursor: pointer;
}

.buttons img {
  width: 40px;
  height: 40px;
}

.main-container ul li img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #eee;
  padding: 15px 0px;
 
  border-radius: 0 0 5px 5px;
}

.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}

.main-container ul li footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
  width: 100%;
  height: 40px;
}

.main-container ul li .buttons button:hover img {
  transform: translateY(-5px);
  transition: all 0.2s;
}

.main-container .empty {
  font-size: 16px;
  color: #999;
  font-weight: bold;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  margin-top: 150px;
}

.match-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.8);
}

.match-container .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 30px 0;
}

.match-container strong {
  font-size: 32px;
  color: #fff;
}

.match-container p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  max-width: 400px;
  color: rgba(255,255,255,0.8);
}

.match-container button {
  border: 0;
  background: none;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

